<% include ../navbar/homeNavbar %>

<br><br>
<div class="graphic_login">
  <div class="container">
    <div class="row">
      <div class="col s6 push-s6">
        <div class="row">
          <h6 style="text-align: center; padding-right: 30px"><% include ../messages/messages %></h6>
        </div>

        <div class="row">
          <h6 style="line-height: 250px; padding-right: 20px">LOG IN</h6>
        </div>
      </div>

      <div class="col s9 push-s4">
        <div class="row">
          <form class="col s12" action="/auth/users/signin" method="POST">
            <div class="row">
              <div class="input-field col s6">
                <input id="email" type="email" class="validate" name="email" autofocus>
                <label for="email">
                  <i class="material-icons">email</i> E-mail
                </label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">
                  <i class="material-icons">lock</i> Password
                </label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s3">
                <button class="btn waves-effect waves-light" type="submit" name="action">Sign in
                  <i class="material-icons right">vpn_key</i>
                </button>
              </div>

              <div class="input-field col s3">
                <input id="_csrf" type="hidden" name="_csrf" class="validate" value="<%= csrfToken %>">
                <!-- <label for="_csrf">CSRF</label> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>