<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <form action="/room/bedding-type/create" method="post">
          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="bed_type" id="bed_type" placeholder="Add Bedding Type" class="validate" required>
              <label for="bed_type">Bedding Type</label>
            </div>
          </div>
        </form>
      </div><!-- form row -->

      <div class="row">
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>Bedding Type</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% bedding.forEach((bed) => {%>
            <tr>
              <td><%= bed.bed_type %></td>
              <td>
                <a href="/room/bedding-type/delete/<%= bed._id %>" class=" btn tooltipped" data-position="bottom"
                  data-tooltip="Delete">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div><!-- table row -->
    </div>
  </div>
</div>