<% include ../../navbar/frontDesk %>

<!-- Contain Room Type and Bed Type -->

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <h6>Manage Room</h6>
        <h6 class="green-text" style="text-align: center"><% include ../../messages/success%></h6>
        <h6 class="red-text" style="text-align: center"><% include ../../messages/danger%></h6>
      </div>

      <div class="row">
        <!-- floor stage -->
        <div class="col s6">
          <% include ./room_type %>
        </div><!-- col 1 -->

        <!-- Room number stage -->
        <div class="col s6">
          <% include ./bedding_type %>
        </div><!-- col 2 -->
      </div><!-- row 1 -->
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('select').formSelect();
  });

  $(document).ready(function () {
    $('.tooltipped').tooltip();
  });
</script>