<% include ../navbar/accountant %>

<br>
<div class="container">
  <div class="row">
    <h5 style="text-align: center">Spreadsheet</h5>
    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h5>Daily Account</h5>
          </li>
          <li class="collection-item"><a href="/accountant/day/getSaleDay">Create days</a></li>
          <li class="collection-item"><a href="/accountant/dayAccount/create">Create daily account</a></li>
          <li class="collection-item"><a href="/accountant/dayAccount/dayAccountDisplay">View daily account</a></li>
        </ul>
      </div>
    </div><!-- col 1 -->

    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h5>Weekly Account</h5>
          </li>
          <li class="collection-item"><a href="/accountant/week/displayWeeklyAccount">Create weeks</a></li>
          <li class="collection-item"><a href="/accountant/weeklyAccount/create">Create weekly account</a></li>
          <li class="collection-item"><a href="/accountant/weeklyAccount/weeklyAccountDisplay">View weekly account</a>
          </li>
        </ul>
      </div>
    </div><!-- col 2 -->

    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h5>Monthly Account</h5>
          </li>
          <li class="collection-item"><a href="/accountant/month/getSaleMonth">Create months</a></li>
          <li class="collection-item"><a href="/accountant/monthlyAccount/create">Create monthly account</a></li>
          <li class="collection-item"><a href="/accountant/monthlyAccount/monthlyAccountDisplay">View monthly
              account</a></li>
        </ul>
      </div>
    </div><!-- col 3 -->

    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h5>Display order</h5>
          </li>
          <!-- <p>show sale made</p> -->
          <p>please take note of date created and <br> date updated for propal documentation</p>
          <li class="collection-item"><a href="/accountant/item/order-display">View Order</a></li>
        </ul>
      </div>
    </div><!-- col 4 -->
  </div>