<% include ../navbar/accountant %>

<br>
<div class="container">
  <div class="row">
    <h6 style="text-align: center">Spreadsheet</h6>
    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Daily Account</h6>
          </li>
          <li class="collection-item"><a href="/accountant/day/getSaleDay">Create days</a></li>
          <li class="collection-item"><a href="/accountant/dayAccount/create">Create daily account</a></li>
          <li class="collection-item"><a href="/accountant/dayAccount/dayAccountDisplay">View daily account</a></li>
        </ul>
      </div>
    </div><!-- col 1 -->

    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Weekly Account</h6>
          </li>
          <li class="collection-item"><a href="/accountant/week/displayWeeklyAccount">Create weeks</a></li>
          <li class="collection-item"><a href="/accountant/weeklyAccount/create">Create weekly account</a></li>
          <li class="collection-item"><a href="/accountant/weeklyAccount/weeklyAccountDisplay">View weekly account</a>
        </ul>
      </div>
    </div><!-- col 2 -->

    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Monthly Account</h6>
          </li>
          <li class="collection-item"><a href="/accountant/month/getSaleMonth">Create months</a></li>
          <li class="collection-item"><a href="/accountant/monthlyAccount/create">Create monthly account</a></li>
          <li class="collection-item">
            <a href="/accountant/monthlyAccount/monthlyAccountDisplay">
              View monthlyaccount
            </a>
          </li>
        </ul>
      </div>
    </div><!-- col 3 -->

    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Display order</h6>
          </li>
          <p>Please take note of date and time created and <br> updated for security reason</p>
          <li class="collection-item"><a href="/accountant/item/order-display">View Order</a></li>
        </ul>
      </div>
    </div><!-- col 4 -->
  </div><!-- row 1 end -->

  <div class="row">
    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Expences and budget</h6>
          </li>
          <li class="collection-item"><a href="/expensesAndBudget/create">Create expences and budget</a></li>
          <li class="collection-item"><a href="/expensesAndBudget/expenses/display">View expenses</a></li>
          <li class="collection-item"><a href="/expensesAndBudget/budget/display">View Budget</a></li>
        </ul>
      </div>
    </div><!-- col 1 -->

    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Payroll</h6>
          </li>
          <li class="collection-item"><a href="/payroll/payslip/employee-information/display">Manage Employee</a></li>
          <li class="collection-item"><a href="/payroll/payslip/display">Payslip</a></li>
        </ul>
      </div>
    </div><!-- col 1 -->
  </div>
</div>
