<!-- handling both status and position -->

<% include ../../navbar/admin %>

<br>
<div class="container">
  <div class="row">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <h6>Add Employee Status And Position</h6>
        </div>
      </div>
    </div>

    <div class="col s6">
      <div class="row">
        <table>
          <thead>
            <tr>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <% status.forEach((status) => {%>
            <tr>
              <td><%= status.status %></td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div><!-- status col -->

    <!-- Position -->
    <div class="col s6">
      <div class="row">
        <table>
          <thead>
            <tr>
              <th>Position</th>
            </tr>
          </thead>

          <tbody>
            <% position.forEach((position) => {%>
            <tr>
              <td><%= position.position %></td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div><!-- position col -->
  </div><!-- main row -->
</div>