body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.noShow {
    display: none;
}

/* invoice handing */

.invoiceBorder {
    box-sizing: border-box;
    border: solid 1px #1174e6;
    background-color: #1174e6;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.invoiceText {
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.invioceInfo, .invioceAddress {
    color: #fff;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.invoiceAmount {
    color: #1174e6;
    float: right;
}

.invoiceAmountText {
    color: grey;
    float: right;
}

.Amountcollection {
    border: none;
    margin-top: 0px;
}

.detail_content {
    width: 50%;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
}

/* home page styling */

/* home page navbar Header **/

.header {
    background: #35424a;
    color: #ffffff;
}

.header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: lowercase;
}

.button_1 {
    height: 38px;
    background: #000;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

/* Showcase */

#showcase {
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}

#showcase h4 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

/* Newsletter */

#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #35424a
}

#newsletter h6 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="text"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* home page container */

.section_container {
    margin: auto;
    overflow: hidden;
}

/* home page footer */

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #000;
    text-align: center;
}