.noShow {
    display: none;
}
.invoiceBorder {
    box-sizing: border-box;
    border: solid 1px #1174e6;
    background-color: #1174e6;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.invoiceText {
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.invioceInfo, .invioceAddress {
    color: #fff;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.invoiceAmount {
    color: #1174e6;
    float: right;
}
.invoiceAmountText {
    color: grey;
    
    float: right;
}
.Amountcollection {
    border: none;
    margin-top: 0px;
}