<% if(typeof errors != 'undefined') {%>
<% errors.forEach((error) => {%>
<h6 class="red-text">
  <%= error.msg %>
</h6>
<%});%>
<%}%>
  
<% if(success_msg != '') {%>
<h6 class="green-text"><%= success_msg %></h6>
<%}%>
  
<% if(error_msg != '') {%>
<h6 class="red-text"><%= error_msg %></h6>
<%}%>
  
<% if(error != '') {%>
<h6 class="red-text"><%= error %></h6>
<%}%>