<% include ../navbar/casher %>

<br>
<div class="container">
  <div class="row">
    <div class="col s4 m4">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Display order and item</h6>
          </li>
          <li class="collection-item">
            <a href="/casher/item/display">View Item</a>
          </li>
          <li class="collection-item">
            <a href="/casher/item/order-display">View Orders</a>
          </li>
        </ul>
      </div>
    </div><!-- col 1 -->

    <div class="col s4 m4">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Category of items</h6>
          </li>
          <% category.forEach((category) => {%>
          <li class="collection-item">
            <a href="/casher/item/display/category/<%= category.category_name %>"><%= category.category_name %></a>
          </li>
          <%})%>
        </ul>
      </div>
    </div><!-- col 2 -->

    <div class="col s4 m4">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Brand of items</h6>
          </li>
          <% brand.forEach((brand) => {%>
          <li class="collection-item">
            <a href="/casher/item/display/brand/<%= brand.brand_name %>"><%= brand.brand_name %></a>
          </li>
          <%})%>
        </ul>
      </div>
    </div><!-- col 3 -->
  </div>