<% include ../navbar/admin %>

<br>
<div class="container">
  <div class="row">
    <h6 style="text-align: center">Dashboard</h6>
    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Accounting</h6>
          </li>
          <li class="collection-item"><a href="/manager/accounting/dayAccountDisplay">View daily account</a></li>
          <li class="collection-item"><a href="/manager/accounting/weeklyAccountDisplay">View weekly account</a>
          <li class="collection-item">
            <a href="/manager/accounting/monthlyAccountDisplay">
              View monthlyaccount
            </a>
          </li>
        </ul>
      </div>
    </div><!-- col 1 -->


    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Display order</h6>
          </li>
          <p>Please take note of date and time created and <br> updated for security reason</p>
          <li class="collection-item"><a href="/manager/order/order-display">View Order</a></li>
        </ul>
      </div>
    </div><!-- col 2 -->

    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Expences and budget</h6>
          </li>
          <li class="collection-item"><a href="/manager/catalog/expenses/display">View expences</a></li>
          <li class="collection-item"><a href="/manager/catalog/budget/display">View Budget</a></li>
        </ul>
      </div>
    </div><!-- col 3 -->

    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Payroll</h6>
          </li>
          <li class="collection-item"><a href="/manager/employee/display">Manage Employee</a></li>
          <li class="collection-item"><a href="/manager/payroll/payslip/display">Manage Payslip</a></li>
        </ul>
      </div>
    </div><!-- col 4 -->
  </div><!-- row 1 end -->

  <div class="row">
    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Catalog</h6>
          </li>
          <li class="collection-item"><a href="/manager/catalog/departmentAndAllowance">Department And Allowance</a>
          </li>
          <li class="collection-item"><a href="/manager/catalog/statusAndPosition">Position And Status</a></li>
          <li class="collection-item"><a href="/manager/catalog/paymentMethod">Payment Method</a></li>
        </ul>
      </div>
    </div><!-- col 1 -->

    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Item</h6>
          </li>
          <li class="collection-item"><a href="/manager/catalog/category/brand/display">Catagory And Brand</a></li>
          <li class="collection-item"><a href="/manager/item/display">Manage Item</a></li>
        </ul>
      </div>
    </div><!-- col 2 -->

    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Access Control</h6>
          </li>
          <li class="collection-item"><a href="/auth/users/signup">Assign Control</a></li>
          <li class="collection-item"><a href="/manager/signup/users/display">Manage Control</a></li>
        </ul>
      </div>
    </div><!-- col 3 -->

    <div class="col s3 m3">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Bridge</h6>
          </li>
          <li class="collection-item"><a href="">Manage Communication Bridge</a></li>
        </ul>
      </div>
    </div><!-- col 4 -->
  </div><!-- row 2 end -->
</div>