<footer>
  <p>the strawberry bridge creative agency, Copyright &copy; 2014</p>
  <a href="http://thestrawberrybridge.com/" target="_blank">
    <img src="/img/logo/logo.jpeg" alt="Company Logo" width="96"
      height="96">
  </a>
</footer>
