<footer>
  <p>the strawberry bridge creative agency, Copyright &copy; 2014</p>
  <a href="http://thestrawberrybridge.com/" target="_blank">
    <img src="http://thestrawberrybridge.com/wp-content/uploads/2019/01/newLogoTSB3.png" alt="Company Logo" width="96"
      height="96">
  </a>
</footer>