<nav>
    <div class="nav-wrapper">
        <a href="#" class="active">Sign-Out</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/ict/category/getCategory">Categories</a></li>
            <li><a href="/ict/brand/getBrand">Brands</a></li>
        </ul>
    </div>
</nav>