<% include ../navbar/ict %>

<br>
<div class="container">
  <div class="row">
    <div class="col s4 m4">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Item</h6>
          </li>
          <li class="collection-item">
            <a href="/ict/catalog/category/brand/create">Add category and brand</a>
          </li>
          <li class="collection-item">
            <a href="/ict/item/create">Add item</a>
          </li>
          <li class="collection-item">
            <a href="/ict/item/display">View item</a>
          </li>
          <li class="collection-item">
            <a href="/ict/paymentMethod/getPaymentMethod">Create payment-method</a>
          </li>
        </ul>
      </div>
    </div><!-- col 1 -->


    <div class="col s4 m4">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Department/Position</h6>
          </li>

          <li class="collection-item">
            <a href="/employee/catalog/create">Create Department And Allowance</a>
          </li>
          <li class="collection-item">
            <a href="/employee/statusAndPosition/create">Create Position And Status</a>
          </li>
        </ul>
      </div>
    </div><!-- col 2 -->

    <div class="col s4 m4">
      <div class="card blue-grey darken-1">
        <ul class="collection with-header">
          <li class="collection-header blue-grey">
            <h6>Employee</h6>
          </li>
          <li class="collection-item">
            <a href="/employee/create">Create Employee</a>
          </li>
          <li class="collection-item">
            <a href="/employee/display">Manage Employee</a>
          </li>
        </ul>
      </div>
    </div><!-- col 3 -->
  </div> <!-- row 1 -->
</div>